adf-movie-recommend/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-movie-recommend"
		},
		"ls_movie_data_store_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_movie_data_store'"
		},
		"ls_movie_notebook_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_movie_notebook'"
		},
		"ls_movie_notebook_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0216-162225-kie8e6fi"
		},
		"trigger-mr_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/9a1be070-51c7-4856-9b97-326a714b21a9/resourceGroups/movie-recommendation-rg/providers/Microsoft.Storage/storageAccounts/sa2mrlandingzone"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl-movie-recommend')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get files metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "readFiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "for each file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get files metadata",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get files metadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "File",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "fname",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "lz_dataset",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@variables('fname')",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"structure"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Schema",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "fname",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "schema_dataset",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@replace(variables('fname'),'.csv','chema.csv')",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"structure"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If schema matches",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "File",
											"dependencyConditions": [
												"Completed"
											]
										},
										{
											"activity": "Schema",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n    or(equals(variables('fname'),'movies.csv'),equals(variables('fname'),'ratings.csv'))\n    ,equals(activity('File').output.structure,activity('Schema').output.structure)\n)\n",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "cp failed data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "lz_dataset",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@variables('fname')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dataset_reject_data",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@variables('fname')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Fail Mail",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "cp failed data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "pipelineName",
														"value": "@{pipeline().Pipeline}"
													}
												],
												"typeProperties": {
													"url": "https://prod-43.southeastasia.logic.azure.com:443/workflows/d8b53534e57c4c66beaa0335bb6c971d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=uwgfWXqQ8lkuwtCuX-pUX_Kqmy_DCsmt17geVRUnCvE",
													"method": "POST",
													"headers": {},
													"body": {
														"value": "{\n    \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"Subject\":\"An error has been occured\",\n    \"ErrorMessage\":\"Invalid schema.\",\n    \"EmailTo\":\"sbirender51@gmail.com\"\n}",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "cp validate movie data",
												"description": "copy data after validation",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "lz_dataset",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@variables('fname')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dataset_valid_movie",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@variables('fname')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "MovieML",
												"type": "DatabricksNotebook",
												"dependsOn": [
													{
														"activity": "cp validate movie data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": "/Users/sbirender51@gmail.com/nb-movie_recommend",
													"baseParameters": {
														"Input": {
															"value": "@pipeline().parameters.UserForRec",
															"type": "Expression"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_movie_notebook",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Success Mail",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "MovieML",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Body",
														"value": "{     \"Subject\":\"Moive recommended for you\",     \"Movies\":\"replace(@{activity('MovieML').output.runOutput},'\"','''')\",     \"EmailTo\":\"sbirender51gmail.com\" }"
													}
												],
												"typeProperties": {
													"url": "https://prod-43.southeastasia.logic.azure.com:443/workflows/d8b53534e57c4c66beaa0335bb6c971d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=uwgfWXqQ8lkuwtCuX-pUX_Kqmy_DCsmt17geVRUnCvE",
													"method": "POST",
													"headers": {},
													"body": {
														"value": "{\n    \"Subject\":\"Moive recommended for you\",\n    \"Movies\":@{activity('MovieML').output.runOutput},\n    \"EmailTo\":\"sbirender51@gmail.com\"\n}",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "fname",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "fname",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"UserForRec": {
						"type": "string"
					}
				},
				"variables": {
					"fname": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-09T16:18:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/readFiles')]",
				"[concat(variables('factoryId'), '/datasets/lz_dataset')]",
				"[concat(variables('factoryId'), '/datasets/schema_dataset')]",
				"[concat(variables('factoryId'), '/datasets/dataset_reject_data')]",
				"[concat(variables('factoryId'), '/datasets/dataset_valid_movie')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_notebook')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_reject_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_data_store",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "Data",
						"container": "rejected"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_data_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_valid_movie')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_data_store",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "Data",
						"container": "validated"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_data_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lz_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_data_store",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "Movie",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_data_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/readFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_data_store",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Movie",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_data_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/schema_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_data_store",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "Schema",
						"container": "refschema"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movieId",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_data_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_movie_data_store')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_movie_data_store_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_movie_notebook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3138858997889008.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_movie_notebook_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_movie_notebook_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-mr')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl-movie-recommend",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/rawdata/blobs/Movie",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-mr_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl-movie-recommend')]"
			]
		}
	]
}